body {
  background: var(--f-g3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body main > .row,
body > .row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width:768px) {
  body:not(#home) main {
    margin-top: 30px;
  }
}

@media (max-width:768px) {
  body:not(#home) main .container {
    margin-top: 0px;
  }
}

header {
  padding: 1rem 0 .5rem;
}

header .lead {
  color: var(--f-g7);
  font: italic 1.5em/1.5 Roboto,sans-serif;
  margin: 0;
}

h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus,
h4 a, h4 a:hover, h4 a:focus,
h5 a, h5 a:hover, h5 a:focus{
  text-decoration: none;
}

h2::after {
  content: none !important;
}

header a, header a:hover, header a:focus {
  border-bottom: none;
}

@media (min-width:1500px) {
  .container {
    width: 1440px;
  }
}

.container.ombre {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: $ombre;
  -moz-box-shadow: $ombre;
  box-shadow: $ombre;
}

#mainHeader .container.ombre {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  padding-top: 0;
}

#framaheader h1 {
  margin-top: 0;
}

#list .container.ombre,
#medias .container.ombre {
  margin-top: 0 !important;
}

.img-thumbnail p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#screenshots .col-sm-4 {
  height: 350px;
}

.navbar-nav > li > a[href="#bloc-carte"] {
  padding: 5px 15px;
}
.navbar-nav > li > a[href="#bloc-carte"] img {
  height: 40px;
}

iframe {
  border: none;
}

@import 'landing';
@import 'list';

.dropdown-toggle-no-caret::after {
  display:none !important;
}

/* Modal List/Alt */
#list, #alternatives {
  .modal-dialog h4 {
    font-size: 24px;
  }

  @media (min-width:768px) {
    .modal-dialog {
      margin: 100px auto;
    }
  }

  .modal-header {
    border: none;

    h1 {
      font-size: 32px;
      margin: 0 20px !important;
    }

    img {
      margin-right: 30px;
      width: 96px;
    }

    span {
      line-height: 42px;
    }

    .desc {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .modal-body {
    padding: 15px 30px;

    li,
    p {
      color: var(--f-g9);
      font-size: 19px;
      line-height: 30px;
    }

    iframe {
      margin: 0 auto;
      display: block;
    }
  }

  .modal-footer {
    border: none;
    padding-top: 0;
  }

  .btn-alt {
    margin-top: 5px;
  }

  .btn-xs.btn-soutenir {
    font-size: 10px;
    margin: 0;
    font-weight: normal;
  }
}

#list .modal-header { background: var(--f-f2); }
#alternatives .modal-header { background:var(--f-o2); }

.precisions {
  font-size: small;
  color: var(--f-g6);
  line-height: 20px;
  margin-left: 15px;
}

a.anchor{
  display: block;
  position: relative;
  // top: -60px; // = #sticky height
  visibility: hidden;
}

#network {
  font-size: 2.5rem;

  a {
    background: none;
  }
}

@import 'stickymenu';
@import 'webscreenshots';

/* ~~~~ Liste des alternatives ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Carte Alt */
#bloc-carte {
  margin-bottom: 30px;
}

#bloc-carte h2 {
  margin-top: 0;
}

#map-container {
  position: relative;
  width: 100%;
  float: left;
}

#map-container > div:first-child,
#carte, #map-container video {
  position: absolute !important;
  top: 0;
  width: 100% !important;
}

#map-container > div:first-child {
  z-index: 15;
}

#carte {
  z-index: 10;
}

#map-container video {
  z-index: 5;
  position: relative !important;
}

#cartemap {
  position:absolute;
  top:0;
  width:100%;
  z-index: 15;
}

/* Panels Alt */
#alternatives {
  position: relative;

  table .list-group-item img {
    width: 24px;
    height: 24px;
  }

  .table-hover > tbody > tr {
    td {
      padding-top: 42px;
      background: var(--f-d1);

      &:first-child {
        padding-top: 6px;
      }
    }

    &:hover {
      td {
        background-color: var(--f-v2);

        &:first-child {
          background-color: var(--f-r3);
        }
      }
    }
  }

  .si-server,
  .si-cloud {
    cursor: help;
    opacity: 0.7;

    &:hover { opacity: 1; }
  }
}

.play-pause {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;

  button {
    cursor: pointer;
    font-size: 26px;
    z-index: 1000;
    background: #f3f3f3;
    border-radius: 30px;
    color: #767676;
    width: 40px;
    height: 40px;
    padding-left: 1px;
    padding-top: 1px;
    position: absolute;
    opacity: 1;
    text-shadow:none;
    box-shadow: $button-ombre;
    border-color: transparent;

    &:hover {
      color: #555;
    }
  }
}
/* Search */
#app .v-select input[type="search"],
#app .v-select .dropdown-toggle {
  background: #fff;
}

#tags-select .clear {
  display: none;
}

#results_wrapper {
  background-color: #FAEBE8;
}

/* Fix & cleaning */
@import 'hidden';

/*.modal-open .modal-backdrop {
  z-index: 10!important;
}
*/
#app .dropdown-menu > li > a {
  border: none;
}

.btn-link {
  background: none;
}

/* Closed services */
.list-group-item a[href$="framabee.org"],
a[href$="framabee.org"].btn,

.list-group-item a[href$="my.framasoft.org"],
a[href$="my.framasoft.org"].btn,
.list-group-item a[href$="framanews.org"],
a[href$="framanews.org"].btn,
.list-group-item a[href$="framapic.org"],
a[href$="framapic.org"].btn,
.list-group-item a[href$="framavectoriel.org"],
a[href$="framavectoriel.org"].btn,

.list-group-item a[href$="framabin.org"],
a[href$="framabin.org"].btn,
.list-group-item a[href$="framadrop.org"],
a[href$="framadrop.org"].btn,
.list-group-item a[href$="frama.link"],
a[href$="frama.link"].btn,

.list-group-item a[href*="framaclic.org"],
a[href*="framaclic.org"].btn {
  color: var(--f-g7);
  fill: var(--f-g6);
  background: repeating-linear-gradient( -45deg, #fff, #fff 10px, var(--f-r2) 10px, var(--f-r2) 20px );
}

/* Restricted services */
.list-group-item a[href$="framabag.org"],
a[href$="framabag.org"].btn,
.list-group-item a[href$="framanotes.org"],
a[href$="framanotes.org"].btn,

.list-group-item a[href$="framasphere.org"],
a[href$="framasphere.org"].btn,

.list-group-item a[href$="framaboard.org"],
a[href$="framaboard.org"].btn,
.list-group-item a[href$="framaslides.org"],
a[href$="framaslides.org"].btn,

.list-group-item a[href$="frama.site"],
a[href$="frama.site"].btn,
.list-group-item a[href$="framapiaf.org"],
a[href$="framapiaf.org"].btn {
  color: var(--f-g7);
  fill: var(--f-g6);
  background: repeating-linear-gradient( -45deg, #fff, #fff 10px, var(--f-j2) 10px, var(--f-j2) 20px );
}
