/* ~~~~ Landing Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body.index #mainHeader {
  display: none;
}

.landing {
  background-image: url("../img/Peha-Banquet-CC-By-1920.jpg");
  background-size: cover;
  background-position: center;

  h1{
    font-size: 69px;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    margin-top: 1rem;
    padding-bottom: 3rem;

    b {
      color: #fff;
    }
  }

  @media (max-width:768px) {
    h1{
      font-size: 36px;
    }
  }

  .container:not(.ombre) {
    padding: 50px;
    min-height: 700px;
  }

  #bubbles {
    min-height: 457px;
    p {
      background: var(--f-v6);
      font-size: 18px;
      line-height: 22px;
      border: none;
      color: #fff;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      box-shadow: 0px 2px 2px #000;
      visibility: hidden;
      opacity: 0.9;

      a {
      border: none;
      color: #fff;
      background: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    .bbl:first-of-type p {
      background: var(--f-r8);
      animation: 1s fadeIn;
      animation-fill-mode: forwards;
    }

    .bbl:nth-of-type(2) p {
      animation: 2s fadeIn;
      animation-fill-mode: forwards;
    }

    .bbl:last-of-type p {
      background: var(--f-f7);
      animation: 3s fadeIn;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.choice {
  padding: 0 !important;
}

/* ~~~~ Aller plus loin / Pourquoi ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.more a:not(.btn) {
  border: none;
}

.more h2 {
  border-bottom: 8px solid var(--f-g2);
}

.accroche {
  font-weight: bold;
}

/* ~~~~ Revue de presse ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#speakabout,#speakabout .container {
  background:var(--f-g8);
  box-shadow: none;
}
#speakabout a:not(.btn) {
  color: #fff;
  border: none;
  font-size: 16px;
}
#speakabout h2 {
  color: #fff;
  margin-bottom: 20px;
}

#speakabout ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#speakabout img {
  margin: 5px;
}

/* ~~~~ Enjeux Dangers Solutions Concrètement ~~~~~~~~~~~~~~~~~~~~~~~ */
#enjeux {
  background: var(--f-r8);
}

#solutions {
  background:var(--f-v6);
}

#enjeux .container,
#dangers .container,
#solutions .container,
#concret .container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

#enjeux, #solutions {
  img {
    max-width: 300px;
    margin: auto;
  }
}
