<template>
  <b-row
    tag="section"
    class="text-center py-4 mb-4 mx-0"
  >
    <a
      id="all"
      class="anchor"
      rel="nofollow"
    ></a>

    <b-col cols="12">
      <h2
        class="text-center h1 mb-5"
        v-html="$t('txt.allServices')"
      ></h2>
    </b-col>

    <b-col
      v-for="key in Object.keys($t('services'))
        .filter(key => $t('fight').indexOf(key) > -1)"
      :key="key"
      cols="6"
      sm="4"
      md="3"
      class="py-2"
    >
      <a
        class="btn btn-light fb-g1 border btn-block py-4"
        :href="$t(`link.${$t(`services.${key}.id`)}`)"
        :title="$t(`services.${key}.sDesc`)"
      >
        <svg-icon
          :label="$t(`color.${$t(`services.${key}.id`)}`)"
          :name="$t(`svg.${$t(`services.${key}.id`)}`)"
          size="fw 2x"
          variant="fc-g6 d-block mb-3"
        />
      </a>
    </b-col>
  </b-row>
</template>
